extend layout
block content
  h1 #{__("Menu_" + path)}
  ul.nav
    li.nav-item
      a.nav-link.active(href="/"+locale+"/catalog/finnishFox/") #{__("Menu_/catalog/finnishFox/")}
    li.nav-item
      a.nav-link(href="/"+locale+"/catalog/raccoonDog/") #{__("Menu_/catalog/raccoonDog/")}
    li.nav-item
      a.nav-link(href="/"+locale+"/catalog/toys/") #{__("Menu_/catalog/toys/")}
  each product in products
    p
      | #{product.name}
      br
      | Цена: #{product.price}
    img(src=`${product.image_url}`, class="img-fluid rounded")
    hr
