extend layout
block content
    h3 #{__("Menu_" + path)}
    each doneOrder in doneOrders
      p
        | #{doneOrder.creation}
        br
        | #{doneOrder.name}
        //-br
        //-| Количество: #{doneOrder.quantity}
        br
        | Цена: #{doneOrder.price}
      img(src=`${doneOrder.image_url}`, class="img-fluid rounded")
      //.col-3
        //img(src="https://lh3.googleusercontent.com/-m-p8m-Wfcsw/Wa-3KL4pUlI/AAAAAAAACg4/QC7Qiw1n8dMVImQ3h3-RVTEHbyodWDtwACJoC/w265-h353-n/greenRaccoon2.jpg")
      hr