extends layout
block content
  h1 #{__("Fur_Atelier")}
  .carousel.slide(id="carouselControls", data-ride="carousel")
    ol.carousel-indicators
      li.active(data-target="#carouselControls", data-slide-to="0")
      li(data-target="#carouselControls", data-slide-to="1")
      li(data-target="#carouselControls" data-slide-to="2")
    .carousel-inner(role="listbox")
      .carousel-item.active
        img.d-block.img-fluid(src="https://instagram.fiev2-1.fna.fbcdn.net/t51.2885-15/e15/22427230_486591358379636_9159798704033497088_n.jpg", alt="Black Fox Stole")
        .carousel-caption.d-none.d-md-block
          h3 #{__("Listing_Black_Fox_Stole")}
          p #{__("Listing_Black_Fox_Stole_Caption")}
      .carousel-item
        img.d-block.img-fluid(src="https://instagram.fiev2-1.fna.fbcdn.net/t51.2885-15/e15/22426846_1050638025078156_7939079525751586816_n.jpg", alt="Silver Fox Scarf")
        .carousel-caption.d-none.d-md-block
          h3 #{__("Listing_Silver_Fox_Scarf")}
          p #{__("Listing_Silver_Fox_Scarf_Caption")}
      .carousel-item
        img.d-block.img-fluid(src="https://instagram.fiev2-1.fna.fbcdn.net/t51.2885-15/e15/22351950_695428570646212_2421984392390901760_n.jpg", alt="Raccoon Scarf")
        .carousel-caption.d-none.d-md-block
          h3 #{__("Listing_Raccoon_Scarf")}
          p #{__("Listing_Raccoon_Scarf_Caption")}
    a.carousel-control-prev(href="#carouselControls", role="button", data-slide="prev")
      span.carousel-control-prev-icon(aria-hidden="true")
      span.sr-only Previous
    a.carousel-control-next(href="#carouselControls", role="button", data-slide="next")
      span.carousel-control-next-icon(aria-hidden="true")
      span.sr-only  Next
block scripts
  
  