doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description", content=__("Description"))
    title Fur495 | #{__("Menu_" + path)}
    link(rel="alternate", hreflang="ru", href="http://fur495.ru/ru")
    link(rel="alternate", hreflang="en", href="http://fur495.ru/en")
    link(rel="icon", href="/favicon.ico", type="image/x-icon")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
    link(href="/css/main.css", rel="stylesheet")
    link(href="/css/bootstrap-slider.css", rel="stylesheet")
    script(src="tether/js/tether.min.js")
    script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js", integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n", crossorigin="anonymous")
    script(src="/js/bootstrap-slider.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js", integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js", integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn", crossorigin="anonymous")
    if env.NODE_ENV === "production"
        <!-- Yandex.Metrika counter -->
        script.
            (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
              try {
                w.yaCounter45872025 = new Ya.Metrika({
                  id: 45872025,
                  clickmap: true,
                  trackLinks: true,
                  accurateTrackBounce: true
                });
              } catch (e) {
              }
            });

            var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () {n.parentNode.insertBefore(s, n);};
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);} else {f();}})(document, window, "yandex_metrika_callbacks");
        noscript
          div
            img(src="https://mc.yandex.ru/watch/45872025", style="position:absolute; left:-9999px;", alt="")
        <!--/Yandex.Metrika counter -->
  body
    nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
      button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      a.navbar-brand(href="/")
        span(style="color:red") F
        span(style="color:orange") u
        span(style="color:green") r
        span(style="color:blue") 4
        span(style="color:purple") 9
        span(style="color:red") 5
      .collapse.navbar-collapse(id="navbarNav")
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href="/" + locale + "/about") #{__("Menu_/about")}
          li.nav-item
            a.nav-link(href="/" + locale + "/services") #{__("Menu_/services")}
          li.nav-item
            a.nav-link(href="/" + locale + "/catalog/finnishFox/") #{__("Menu_/catalog")}
          li.nav-item
            a.nav-link(href="/" + locale + "/done_orders") #{__("Menu_/done_orders")}
          li.nav-item
            a.nav-link(href="/" + locale + "/faq") #{__("Menu_/faq")}
          li.nav-item
            a.nav-link(href="/" + locale + "/payment_options") #{__("Menu_/payment_options")}
          li.nav-item
            a.nav-link(href="/" + locale + "/contact") #{__("Menu_/contact")}

        a.nav-link(href="/" + locale_opposite + path, id="languageSwitch" style="text-transform: uppercase;") #{locale_opposite}
    .container
      .main
        block content
    footer.footer
      .container
        .footer-social-btns
          a.footer-social-btn.footer-social-btn--vk(target="_blank", title="", href="https://vk.com/fur495")
          a.footer-social-btn.footer-social-btn--facebook(target="_blank", title="", href="https://www.facebook.com/fur495/")
          a.footer-social-btn.footer-social-btn--pinterest(target="_blank", title="", href="https://ru.pinterest.com/dmitrytaipov/fur495-products/")
          a.footer-social-btn.footer-social-btn--instagram(target="_blank", title="", href="https://www.instagram.com/fur495")
          a.footer-social-btn.footer-social-btn--gplus(target="_blank", title="", href="https://plus.google.com/+Fur495Ru")
    block scripts