doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Fur495 | #{title}
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
    link(href="/css/main.css", rel="stylesheet")
    if env.NODE_ENV === "production"
        <!-- Yandex.Metrika counter -->
        script.
            (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
              try {
                w.yaCounter45872025 = new Ya.Metrika({
                  id: 45872025,
                  clickmap: true,
                  trackLinks: true,
                  accurateTrackBounce: true
                });
              } catch (e) {
              }
            });

            var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () {n.parentNode.insertBefore(s, n);};
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);} else {f();}})(document, window, "yandex_metrika_callbacks");
        noscript
          div
            img(src="https://mc.yandex.ru/watch/45872025", style="position:absolute; left:-9999px;", alt="")
        <!--/Yandex.Metrika counter -->
  body
    //.modal.hide.fade#modal
    nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
      button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      a.navbar-brand(href="/")
        //img(src="/img/style/fur495.jpg", height="50")
        span(style="color:red") F
        span(style="color:orange") u
        span(style="color:green") r
        span(style="color:blue") 4
        span(style="color:purple") 9
        span(style="color:red") 5
      collapse.navbar-collapse(id="navbarNav")
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href="/") #{__("Menu_Main")}
          li.nav-item
            a.nav-link(href="/about") #{__("Menu_About_Us")}
          li.nav-item
            a.nav-link(href="/services") #{__("Menu_Services")}
          li.nav-item
            a.nav-link(href="/e_shops") #{__("Menu_Online_Shops")}
          li.nav-item
            a.nav-link(href="/done_orders") #{__("Menu_Done_Orders")}
          li.nav-item
            a.nav-link(href="/faq") FAQ
          li.nav-item
            a.nav-link(href="/contact") #{__("Menu_Contacts")}

        a.nav-link(href="#", id="languageSwitch" style="text-transform: uppercase;") #{locale}
    .container
      //a(href="/")
        //img(src="/img/style/fur495.jpg")
      //-.navbar
        .navbar-inner
          ul.nav
            each category in categories
              li
                a(href="/category/#{category.seo}") #{category.name}
          form.navbar-search.pull-right
            input.search-query(type="text", placeholder="Search")
      .main
        block content
    footer.footer
      .container
        .footer-social-btns
          a.footer-social-btn.footer-social-btn--vk(target="_blank", title="", href="https://vk.com/fur495")
          a.footer-social-btn.footer-social-btn--facebook(target="_blank", title="", href="https://www.facebook.com/fur495/")
          a.footer-social-btn.footer-social-btn--pinterest(target="_blank", title="", href="https://ru.pinterest.com/dmitrytaipov/fur495-products/")
          a.footer-social-btn.footer-social-btn--instagram(target="_blank", title="", href="https://www.instagram.com/fur495")
          a.footer-social-btn.footer-social-btn--gplus(target="_blank", title="", href="https://plus.google.com/+Fur495Ru")
    script(src="tether/js/tether.min.js")
    script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js", integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js", integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js", integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn", crossorigin="anonymous")
    script.
      function getCookie(cname) {
        const name = cname + "=";
        const decodedCookie = decodeURIComponent(document.cookie);
        const ca = decodedCookie.split(';');
        for (let i = 0; i < ca.length; i++) {
          let c = ca[i];
          while (c.charAt(0) === ' ') {
            c = c.substring(1);
          }
          if (c.indexOf(name) === 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";
      }
      $(document).ready(function() {
        $('#languageSwitch').click(function () {
          var lang = 'EN';
          if ($(this).text().toUpperCase() === 'EN') {
            lang = 'RU';
          }
          $(this).text(lang);
          document.cookie = "smm_locale=" + lang.toLocaleLowerCase();
          location.reload();
        });
      });
    //script(src="/js/controller/main.js")
    block scripts