doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title #{store} | #{title}
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
    //link(href="/css/main.css", rel="stylesheet")
  body
    //.modal.hide.fade#modal
    nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
      button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      a.navbar-brand(href="/")
        //img(src="/img/style/fur495.jpg", height="50")
        span(style="color:red") F
        span(style="color:orange") u
        span(style="color:green") r
        span(style="color:blue") 4
        span(style="color:purple") 9
        span(style="color:red") 5
      collapse.navbar-collapse(id="navbarNav")
        ul.navbar-nav
          li.nav-item
            a.nav-link(href="/") Главная
          li.nav-item
            a.nav-link(href="/about") О нас
          li.nav-item
            a.nav-link(href="/services") Услуги
          li.nav-item
            a.nav-link(href="/done_orders") Выполненные заказы
          li.nav-item
            a.nav-link(href="/contact") Контакты
    .container
      //a(href="/")
        //img(src="/img/style/fur495.jpg")
      //-.navbar
        .navbar-inner
          ul.nav
            each category in categories
              li
                a(href="/category/#{category.seo}") #{category.name}
          form.navbar-search.pull-right
            input.search-query(type="text", placeholder="Search")
      .main
        block content
      hr
    script(src="tether/js/tether.min.js")
    script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js", integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js", integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js", integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn", crossorigin="anonymous")
    //script(src="/js/controller/main.js")
    block scripts